= @guess_form.label :value, 'Type your answer or guess', class: 'sr-only'
= @guess_form.text_field :value, required: true, placeholder: 'Type your answer or guess', class: 'form-control', autofocus: true
