= button_tag data: { reflex: 'click->Votes#create', reflex_root: @reflex_root, player_id: @player.id, guess_id: @guess.id, trivium_id: @trivium.id }, class: link_class, disabled: disabled? do
  = helpers.icon 'hand-thumbs-up'