// Place all the styles related to the Guesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#trivium-reveal {
  .list-group-item, .list-group-item > div {
    height: 0;
    opacity: 0;
    transition: 1s;
  }
  .list-group-item {
    padding: 0;

    &.revealed, &.revealed > div {
      height: auto;
      opacity: 1;
    }

    &.revealed {
      padding: 0.75rem 1.25rem;
    }
  }

  .list-group-item {
    .unit {
      background-color: grey;
      color: #efefef;
    }

    &.active {
      .unit {
        background-color: #efefef;
        color: grey;
      }
    }
  }
}

.guesses-chart {
  gap: 1rem;

  .guess-bar-wrap {
    flex-grow: 1;
    max-width: 34%;

    .guess-bar {
      height: 10rem;

      .unit {
        height: 10%;
        line-height: 0.5rem;
        text-shadow: 1px 1px 1px #b8b8b8;
      }
    }
  }
}
