.badass {
  background-color: rgba(146, 146, 212, 0.76);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  h1 {
    font-size: 7rem;
    text-align: center;
  }
}
