#chat {
  .card-body {
    position: relative;
    overflow: hidden;

    form {
      position: absolute;
      bottom: 17px;
      width: 92.7%;
    }
  }
}

#team_messages {
  overflow-y: auto;
  max-height: 75vh;
}