#chat {
  .card-body {
    position: relative;
    overflow: hidden;
    padding-bottom: 4vh;

    form {
      position: absolute;
      bottom: 17px;
      width: 92.7%;
    }
  }
}

#team_messages {
  overflow-y: scroll;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  max-height: 75vh;
  padding-right: 0.3em;
}

.team-message {
  position: relative;
}

.upvote {
  position: relative;
  color: theme-color("primary");
  top: -0.8rem;
  background: white;
  right: 0.5rem;
  cursor: pointer;

  &:hover {
    background-color: theme-color("primary");
    color: theme-color("light");
    box-shadow: none;
  }

  &.active {
    background-color: theme-color("primary");
    color: theme-color("light");
    box-shadow: none;
    border: none;
    cursor: default;
  }
}
