#chat {
  height: 90vh;

  .card-body {
    position: relative;
    overflow: hidden;
    padding-bottom: 4vh;

    form {
      position: absolute;
      bottom: 17px;
      width: 92.7%;
    }
  }
}

#team_messages {
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

.team-message {
  position: relative;

  dl, dd {
    margin-bottom: 0.3rem;
  }
  .message-body {
    max-width: 90%;
  }
}

.upvote {
  position: relative;
  color: theme-color("primary");
  top: -0.8rem;
  background: white;
  right: 0.5rem;
  cursor: pointer;

  &:hover {
    background-color: theme-color("primary");
    color: theme-color("light");
    box-shadow: none;
  }

  &.active {
    background-color: theme-color("primary");
    color: theme-color("light");
    box-shadow: none;
    border: none;
    cursor: default;
  }
}

.guess-accepted {
  color: #28a745;
  position: relative;
  top: -3rem;
  left: 0.2rem;
}

.guessed-by {
  display: block;
  line-height: 0;

  .badge {
    cursor: help;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    left: 7px;

    &.my-guess {
      left: -7px;
    }
  }
}
